html,
body,
div,
span,
p,
h1,
h2,
h3,
h4,
h5,
a,
uo,
ol,
li,
tr,
td {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

ul,
li {
    list-style-type: none;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
}